
<div class="container-fluid"> 
  <h2 class="display-4">Want to become family?</h2>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Apply Now</a>
  </p>
</div>


<div class="container-fluid">
  
<img src="..." class="rounded float-left" alt="...">
<img src="..." class="rounded float-right" alt="...">


</div>



<div class="container-fluid"> 
  <h2 class="display-4">Join the family?</h2>
   <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Apply Now</a>
  </p> 
  <hr class="my-4">
  <p>Island Dropper is about more than deliveries. Whether you're looking to pay bills or fund dreams,we will get you there.</p>
</div>