<h2>Book your deliveries</h2>


<%= form_for @booking do |f| %>
  



<% end %>




<!--   <%= current_user.email %> 


https://app.getswift.co/api/v2/quotes -->



<h2>current deliveries</h2>
<p>you can edit these up to 2 hrs before</p>


<h2>past deliveries</h2>
<p>you cant edit these</p>
